<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Gadget Dipinjam per Hari</h1>
      </div>
    </div>
  </div>
</div><section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <span>Stuff</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<table class="table table-bordered">
    <thead>
      <tr>
        <th>Nama</th>
        <th>Account</th>
        <th>Bank</th>
        <th>Action</th>
        
      </tr>
    </thead>

    <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
    </tbody>
  </table>