<%= form_with(model: gadget, local: true) do |form| %>
  <% if gadget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gadget.errors.count, "error") %> prohibited this gadget from being saved:</h2>

      <ul>
        <% gadget.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :gadget_type %>
    <%= form.text_field :gadget_type %>
  </div>

  <div class="field">
    <%= form.label :rent_price %>
    <%= form.text_field :rent_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
