<p id="notice"><%= notice %></p>

<h1>Gadgets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gadget type</th>
      <th>Rent price</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gadgets.each do |gadget| %>
      <tr>
        <td><%= gadget.name %></td>
        <td><%= gadget.gadget_type %></td>
        <td><%= gadget.rent_price %></td>
        <td><%= gadget.status %></td>
        <td><%= link_to 'Show', gadget %></td>
        <td><%= link_to 'Edit', edit_gadget_path(gadget) %></td>
        <td><%= link_to 'Destroy', gadget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gadget', new_gadget_path %>
