<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gadget.name %>
</p>

<p>
  <strong>Gadget type:</strong>
  <%= @gadget.gadget_type %>
</p>

<p>
  <strong>Rent price:</strong>
  <%= @gadget.rent_price %>
</p>

<%= link_to 'Edit', edit_gadget_path(@gadget) %> |
<%= link_to 'Back', gadgets_path %>
